@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  box-sizing: border-box;
  margin: 0 auto;
}
.card {
  width: 250px;
  min-height: 300px;
}
@media screen and (max-width: 640px) {
  .card {
    width: 90%;
    min-height: 150px;
  }
  .card-details {
    width: 250px;
  }
}
