@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  box-sizing: border-box;
  margin: 0 auto;
}
.nav-item:hover {
  color: gray;
  cursor: pointer;
}
.active {
  text-decoration: underline;
  text-decoration-color: red;
  text-underline-offset: 4px;
  font-weight: 600;
}
.card {
  width: 250px;
  min-height: 300px;
}
.login-container {
  height: 450px;
}
.left-container {
  height: 350px;
}
.right-container {
  height: 350px;
}
/* menu */
.restaurant-banner {
  min-height: 300px;
  background-color: #171a29;
}

@media (max-width: 768px) {
  .card {
    width: 90%;
    min-height: 130px;
  }

  .login-container {
    height: 450px;
  }
  .restaurant-banner {
    min-height: 120px;
  }
}
