@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  box-sizing: border-box;
  margin: 0 auto;
}
.card {
  width: 250px;
  min-height: 300px;
}
.login-container {
  height: 500px;
}
@media (max-width: 640px) {
  .card {
    width: 90%;
    min-height: 130px;
  }
}
